.dir-links {
    list-style: none;
    display: flex;
    margin-top: 30px;
}

.dir-links a {
    border: rgb(165, 95, 95) 0px solid;
    padding: 15px 20px;
    background-color: #c7d1c5;
    border-radius: 5px;
    color: white;
}