.header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-top: -100px;
    padding: 15px 20px;
    -webkit-box-shadow:0px 1px 4px #463838; 
    -moz-box-shadow:0px 1px 4px #888888;
    box-shadow:0px 1px 4px #888888;
    z-index: 1000;
}

.logo {
    height: 60px;
    margin: 0;
    padding: 0;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
    margin: 4px;
}

.navbar-toggle {
    background-color: #727272;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    //background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.title h1{
    color: #000000;
    font-size: 30px;
    text-decoration: none;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0;
    float: left;
}

.navbar-collapse {
    display: none;
    overflow-x: visible;    
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.navbar-collapse.in {
    overflow-y: auto;
}

#navbar {
    opacity: 1
}

.title:hover {
    text-decoration: none;
}


#collapse {
}

nav {
    padding-left: 0;
}

#test {
    color: pink;
}

.nav-list {
    list-style: none;
    display: block;
    margin-top: 50px;
}

.nav-list>li>a {
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-list a:active {
    color: #8c1515;
}

.active-page {
    color: #8c1515;
}

@media only screen and (min-width: 786px) {
    .nav-list-right {
        float: right !important;
        margin-right: -15px;
    }
    
    .nav-list {
        display: flex !important;
        list-style: none;
        padding: 0;
        position: relative;
        margin: 0px 0px;
        top: -50px;
        margin-bottom: -30px;
    }

    #collapse {
        display: block !important;
    }

    .nav-list>li>a {
        padding: 0px 0px;
        margin-top: 5px;
    }
    
    button {
        display: none;
    }
}

.link {
    color: black;
    text-decoration: none;
    margin-right: 1.3rem;
}

.link:hover {
    text-decoration: none;
    color: #777777;
}

.link:active {
    color: #7e6060;
}
