html {
    font-family: sans-serif;
}

p, h2, h3{
    color: #2e2d29;
}

body {
    background-color: white;
}

.rectangle {
    height: 10px;
    width: 100%;
    position: relative;
    top: 15px;
    margin-bottom: 30px;
    background-color: #2e2d29;
}
