.grid {
    display: grid;
    border: 2px white solid;
    width: 1060px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}

.box {
    text-align: center;
    min-height: 200px;
    color: black;
    border: 2px solid #909090;
    margin: 30px;
  }

.reframe {
    height: 160px;
    width: 100%;
}

.reframe img {
    height: auto;
    width: 100%;
    overflow: hidden;
}