.team-name{
    font-size: 26px;
}

.team-title {
    font-size: 16px;
    margin-bottom: 0;
}

.team-nav {
    font-size: 12px;
    margin-bottom: 40px;
}

.team-desc {
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#team-desc {
    font-size: 13px;
}

.team-nav a {
    text-decoration: none;
    color: darkgrey;
    font-size: 12px;
    margin-right: 4px;
}

.team-nav:hover a {
    text-decoration: none;
}