.team-name{
    font-size: 26px;
}

.team-title {
    font-size: 16px;
    margin-bottom: 0;
}

.team-desc {
    font-size: 12px;
    margin-bottom: 40px;
}

.team-desc a {
    text-decoration: none;
    color: darkgrey;
    font-size: 12px;
    margin-right: 4px;
}

.team-desc:hover a {
    text-decoration: none;
}