.people-section{
    padding: 30px;
}

.people-section h1{
    font-weight: normal;
    text-align: center;
    padding: 20px;
    color: #4C4C4C;
}

.people-section h2{
    color: #4C4C4C;
    padding: 10px;
}

.bottom-grid{
    padding-top: 35px;
}

.about-heading{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 40px;
}

/*.project-content{
    width: 100%;
    height: auto;
    min-height: 10px;
    transition: 0.6s;
    opacity: 1;
}*/

.people-container{
    width: auto;
    /* min-height: 50px; */
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    background: white;
    transition: 0.4s;
    z-index: 10;
    border-radius: 50%;
}

.content-head{
    color: #4C4C4C;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 18px;
}

.hover-span{
    display: none;
    font-size: 20px;
    color: red;
    font-size: 20px;
    position: absolute;
    /* top: 20px;
    left: 50px; */
    /* left: 40%; */
    border-radius: 50%;
    z-index: 1000;
}
/* .project-button-far{
    left: 190px;
    top: 110px;
    /* text-align: center; 
    
} */
.people-image-container{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 50%;
}

.people-container:hover {

    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.people-container:hover img{
    opacity: 0.2;
    transition: 0.4s;

}

.propImage{
    width: "100%";
    height: "200px";

}

.people-image{
    padding-bottom: 20px;
    padding-top: 10px;
    max-width: 100%;
    max-height: 100%;
    height: 200px;
    width: 300px;
    border-radius: 50%;
    opacity: 1;
}

.person-button{
    width: 190px;
    top: 100px;
}

.people-container:hover span{
    display: block;
    z-index: 100;
}


.learn-more{
    border: 2px solid black;
    width: 90px;
    height: 20px;
    text-decoration: none;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}